/*https://coolors.co/1f8321-97978b-81b8d8-c4deec-c1a05a*/
/*https://www.flaticon.com/free-icon/weed_5433954?term=weed&page=1&position=2&origin=search&related_id=5433954*/
@font-face {
  font-family: "Patrez";
  src: url("font/Patrez.otf") format("opentype");
}
@font-face {
  font-family: "TAN";
  src: url("font/TAN\ Moonlight\ Display.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #81b8d8;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'League Spartan', sans-serif;
}
/*********************************NAV BAR**************************/
nav {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 150px;
  margin-top: 3%;
}
/***********Partie centre : Logo bizz*************/
nav div img {
  height: 150px;
}


/**********Section****/
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.start{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: #76A34F;
  text-align: center;
  height: 50px;
  border-radius: 10px;
}
.start h1{
  color: white;
  font-size: 2em;
}








.div-carte {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.cartebtn {
  padding: 0;
  margin-top: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26vw;
  height: 70px;
  background: #c29e5b;
  outline: 3px solid #ffffff;
  border-style: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.cartebtn:hover {
  transform: scale(1.1);
  outline: 4px solid #c29e5b;
  background: white;
  color: #c29e5b;
  font-size: 37px;
  letter-spacing: 11px;
}
.cartebtntext {
  font-family: "Jost";
  font-style: italic;
  font-weight: 900;
  font-size: 35px;
  letter-spacing: 0.23em;
  color: #ffffff;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 2px;
}

.carte img {
  width: 400px;
  height: 400px;
  object-fit: contain;
}
